.wrap {
  display: flex;
  background-color: #0b090d;
  border-radius: 30px;
  padding: 20px;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}

.leftWrap {
  display: flex;
  gap: 30px;
  align-items: center;
}

.rightWrap {
  display: flex;
  align-items: center;
  gap: 30px;
}

.name {
  color: #ededed;
  font-size: 28px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.bank {
  color: #ededed;
  font-size: 16px;
}

.bankLabel {
  @media (max-width: 768px) {
    width: fit-content !important;
  }
}
