.buttonWrap {
  color: #fff;
  background-color: #8e8ffa;
  border-radius: 50px;
  padding: 0 20px;
  height: 42px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
