.bgApp {
  background-image: url("/images/bg.png");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}

.contaienr {
  max-width: 1210px;
  padding: 50px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 289px;
  gap: 30px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
