.tournament {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 12px 0;
  background-color: inherit;
  filter: brightness(1);
  cursor: pointer;
  gap: 20px;

  &:hover {
    filter: brightness(1.2);
  }

  @media (max-width: 920px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: flex-start;
  }
}

.avatar {
  border-radius: 13px;

  @media (max-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.leftWrap {
  display: flex;
  gap: 12px;
  align-items: center;

  @media (max-width: 768px) {
    justify-self: start;
    width: 100%;
  }
}

.username {
  color: #8e8ffa;
  font-size: 24px;
  font-weight: 700;
}

.rightWrap {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 20px;
  margin-left: auto;

  @media (max-width: 768px) {
    justify-self: start;
    width: 100%;
    margin-left: unset;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.columnTitle {
  color: #8e8ffa;
  font-size: 14px;
  white-space: nowrap;
}

.players {
  color: #fff;
  font-size: 16px;
  height: 42px;
  display: block;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  align-self: center;
  width: 100%;
}

.accept {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
}
